.topcrs__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2.5rem;
}

.topcrs__right > div {
	display: flex;
	align-items: center;
	font-size: 20px;
	font-weight: 500;
	gap: 6px;
}

.topcrs__title {
	font-size: 30px;
}

.topcrs__items {
	grid-template-columns: repeat(3, 2fr);
	justify-content: center;
	margin: auto;
}

.topcrs__item {
	background-color: #fff;
	border: 1px solid #dcdcdc;
	border-radius: 19px;
}

.topcrs__category {
	height: 240px;
	overflow: hidden;
}

.topcrs__labels {
	display: flex;
	align-items: center;
	gap: 14px;
	margin: 1.7rem;
	position: absolute;
	z-index: 10;
}

.topcrs_label {
	background-color: #fff;
	padding: 10px 13px;
	border-radius: 34px;
	font-weight: 500;
	cursor: pointer;
}

.topcrs_label:hover {
	background-color: #ebebeb;
	transition: 200ms ease-in-out;
}

.topcrs__img {
	position: relative;
	border-radius: 19px 19px 0 0;
}

.topcrs__main {
	padding: 2rem;
}

.topcrs__head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 18px;
	margin-bottom: 1.2rem;
}

.topcrs__rating {
	display: flex;
	align-items: center;
}

.topcrs__rating > img {
	width: 24px;
	margin-right: 11px;
}

.topcrs__rating-text {
	display: flex;
	align-items: center;
	gap: 3px;
	font-size: 16px;
	margin-top: 3px;
}

.topcrs__rating-text > h2 {
	font-weight: 600;
	font-size: 18px;
}

.topcrs__rating-text > span {
	font-weight: 600;
	color: #a6a6a6;
}

.topcrs__description {
	display: grid;
	row-gap: 12px;
	margin-bottom: 2rem;
}

.topcrs__price {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.topcrs__price-left > img {
	width: 22px;
}

.topcrs__price-left {
	display: flex;
	align-items: center;
	gap: 10px;
}

.topcrs__price-left > div {
	font-weight: 600;
	font-size: 19px;
}

.topcrs__price-right {
	font-size: 18px;
}

.topcrs__footer {
	background-color: #0075ff;
	border-radius: 0 0 11px 11px;
	padding: 26px;
	align-items: center;
	text-align: center;
	cursor: pointer;
	user-select: none;
}

.topcrs__footer:hover {
	background-color: #0065db;
	transition: 200ms ease-in-out;
}

.topcrs__footer > span {
	color: #fff;
	font-size: 18px;
}

b {
	font-weight: 500;
}

@media screen and (max-width: 1200px) {
	.topcrs {
		padding: 2rem;
	}

	.topcrs__right > div {
		gap: 4px;
	}

	.topcrs__labels {
		display: grid;
	}

	.topcrs_label {
		width: max-content;
	}

	.topcrs__img {
		height: 205px;
	}

	.topcrs__main {
		padding-top: 0;
	}
}

@media screen and (max-width: 992px) {
	.topcrs__items {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 768px) {
	.topcrs__items {
		grid-template-columns: repeat(1, 1fr);
	}

	.topcrs__img {
		width: 100%;
	}
}

@media screen and (max-width: 480px) {
	.topcrs__top {
		display: grid;
		gap: 8px;
	}
}

@media screen and (max-width: 320px) {
}
