.email__wrapper {
	background-color: #fff;
	border-radius: 31px;
	border: 2px solid #dcdcdc;
	overflow: hidden;
}

.email__inner {
	display: flex;
	justify-content: space-between;
}

.email__left {
	padding: 3.15rem;
}

.email__left-text > div {
	background-color: #dbf4ed;
	color: #43c59e;
	padding: 1rem 1.8rem;
	border-radius: 13px 13px 13px 0;
	text-transform: uppercase;
	font-weight: 700;
	width: 300px;
}

.email__left-text > h1 {
	margin-top: 1.2rem;
	font-size: 35px;
	text-transform: uppercase;
	width: 500px;
	line-height: 1.4;
	font-weight: 600;
}

.email__subscribe {
	display: flex;
	align-items: center;
}

.email__subscribe > input {
	border: none;
	background-color: #eee;
	padding: 1.4rem 1.5rem;
	border-radius: 14px 0 0 14px;
	outline: none;
	width: 300px;
	font-size: 18px;
	color: #0075ff;
}

.email__subscribe > button {
	background-color: #0075ff;
	padding: 1.4rem 3rem;
	color: #fff;
	border-radius: 0 14px 14px 0;
	font-size: 18px;
	font-weight: 500;
}

button:hover {
	background-color: #0065db;
	transition: 200ms ease-in-out;
}

.email__right {
	background-color: #0065db;
	border-radius: 0 25px 25px 250px;
}

.email__right > img {
	height: 101%;
}

::placeholder {
	color: #8f8f8f;
	letter-spacing: 1px;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
	.email__right > img {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.email__right {
		display: none;
	}
}

@media screen and (max-width: 576px) {
	.email__left-text > h1 {
		max-width: 210px;
		font-size: 36px;
	}

	.email__subscribe {
		display: grid;
		gap: 15px;
	}

	.email__subscribe > input {
		border-radius: 14px;
		width: 100%;
	}

	.email__subscribe > button {
		border-radius: 14px;
		width: 1fr;
	}
}

@media screen and (max-width: 480px) {
	.email__left-text > h1 {
		max-width: 200px;
		font-size: 32px;
	}

	.email__subscribe {
		display: grid;
		gap: 15px;
	}

	.email__subscribe > input {
		border-radius: 14px;
		width: 100%;
	}

	.email__subscribe > button {
		border-radius: 14px;
		width: 1fr;
	}
}

@media screen and (max-width: 400px) {
	.email__wrapper {
		width: 1frs;
	}

	.email__left {
		padding: 2rem;
	}
}
