.home__container {
	height: 100%;
	padding-top: 2%;
}

.home__content {
	grid-template-columns: 90px repeat(2, 1fr);
	column-gap: 2rem;
	align-items: center;
	padding-bottom: 10rem;
}

.home__title {
	font-size: 70px;
	width: 500px;
	line-height: 1.2;
}

.home__subtitle {
	font-size: 20px;
	width: 480px;
	margin: 1rem 0 2.3rem 0;
	line-height: 1.5;
}

.home__description {
	display: flex;
	align-items: center;
	width: 600px;
	gap: 2rem;
}

.home__button-side {
	width: 200px;
}

.home__link {
	color: #0075ff;
}
.home__img {
	margin-left: 30rem;
	background: url(/public/img/main.svg) no-repeat center;
	background-size: cover;
	order: 1;
	justify-self: center;
	width: 1000px;
	height: 680px;
	animation: pulse 4s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	70% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}

@media screen and (max-width: 1200px) {
	.home__title {
		font-size: 72px;
	}

	.home__img {
		display: none;
	}

	.home {
		padding: 9rem 4rem 1rem;
	}
	.home__description {
		width: 780px;
	}

	.home__button-side {
		width: 220px;
	}
}

@media screen and (max-width: 992px) {
	.home__description {
		width: 555px;
	}
}

@media screen and (max-width: 768px) {
	.home__title {
		font-size: 60px;
	}

	.home__subtitle {
		width: 320px;
	}

	.home__description {
		width: 455px;
	}
}

@media screen and (max-width: 576px) {
	.home__title {
		font-size: 48px;
		width: 150px;
	}

	.home__subtitle {
		width: 270px;
	}

	.home__description {
		display: grid;
		width: 150px;
	}
}

@media screen and (max-width: 480px) {
	.home {
		padding: 10rem 2rem 1rem;
	}

	.home__title {
		font-size: 50px;
		width: 300px;
	}

	.home__subtitle {
		width: 330px;
		font-style: 22px;
	}

	.home__description {
		width: 420px;
		gap: 1rem;
		width: 230px;
	}

	.home__button-side {
		width: 180px;
	}
}

@media screen and (max-width: 400px) {
	.home__title {
		font-size: 42px;
	}

	.home__subtitle {
		width: 290px;
	}
}
