.wrapper {
	background-color: #fff;
	border-radius: 37px;
	border: 2px solid #e0e0e0;
	box-shadow: 0px 0px 7px -36px rgba(34, 60, 80, 0.78);
}

.wrapper__inner {
	padding: 4rem 4rem;
}

.courses__container {
	grid-template-columns: repeat(2, 670px);
	justify-content: center;
	column-gap: 2rem;
	row-gap: 2.6rem;
}

.courses__img {
	width: 200px;
}

.courses__content {
	display: flex;
	position: relative;
	justify-content: space-between;
	border: 1px solid rgba(0, 0, 0, 0.05);
	background-color: #f7f7f7;
	border-radius: 20px;
	padding: 2rem 2rem;
}

.courses__amount {
	background-color: #b5e6d9;
	width: 135px;
	font-size: 16px;
	color: #43c59e;
	padding: 11px 20px;
	border-radius: 13px 13px 13px 0px;
}

.courses__title {
	font-size: 23px;
	font-weight: 600;
	margin-top: 1.3rem;
}

.courses__title-main {
	font-size: 32px;
	margin-bottom: 3.2rem;
	margin-top: -0.7;
}

@media screen and (max-width: 1200px) {
	.wrapper__inner {
		padding: 3rem 3rem;
	}

	.courses__container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 992px) {
	.courses__container {
		grid-template-columns: repeat(2, 1fr);
	}

	.wrapper__inner {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	.courses__container {
		grid-template-columns: repeat(1, 1fr);
	}

	.courses__img {
		display: none;
	}
}

@media screen and (max-width: 576px) {
	.courses__container {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media screen and (max-width: 480px) {
	.courses__container {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media screen and (max-width: 400px) {
	.courses__container {
		grid-template-columns: repeat(1, 1fr);
	}

	.courses__img {
		display: none;
	}
}
